/* version 1.0 */
@CHARSET "UTF-8";
* {
    box-sizing: border-box;
}
html{
	font-family: "open_sansextrabold",Arial,Helvetica,sans-serif !important;
	height: 100%;
}
body{
	margin:0;
	padding:0;
	height:100%;
}

.corpo {
	min-height:100%;
	position:relative;

}

.header {
	width: 100%;
    background-color: #19882c;
    /* Old browsers */
    background-color: #0A5517;
    background-image: -moz-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
    /* FF3.6+ */
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#19882c), color-stop(100%, #025310));
    /* Chrome,Safari4+ */
    background-image: -webkit-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
    /* Chrome10+,Safari5.1+ */
    background-image: -o-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
    /* Opera 12+ */
    background-image: -ms-radial-gradient(center, ellipse cover, #19882c 1%, #025310 100%);
    /* IE10+ */
    background-image: radial-gradient(ellipse at center, #19882c 1%, #025310 100%);
    color: #fff;
    /* IE6-9 fallback on horizontal gradient */
    filter:progid: DXImageTransform.Microsoft.gradient( startColorstr="#19882c", endColorstr="#025310",GradientType=1);
	padding:15px 0px 0px;
}
.logo {
	flex:1;
	padding: 5px 0px 20px 0px ;
	overflow: auto;
	
}
.wrapper {
	max-width:960px;
	margin:auto;
}
.nome , .imagem {
	vertical-align: middle;
	display: inline-block;
}
.imagem img	{
	position:absolute;
	top:0;
	left:50%;
	height:87px;
	width:auto;
}
.nome {
	width: 70%;
}
.nome a {
	display:block;
	margin:0;
	text-decoration: none;
	color:#fff !important;
}
.nome span{
	display:block;
	margin:0;
	text-decoration: none;
	color:#fff !important;
}
.title{
	color: #FFF;
	font-size: 3.35em;
	line-height: 1em;
	font-weight: normal;
	
}

.imagem {
	position:relative;
	width:29%;
	height:87px;
}
.nav-bar {
	background: none repeat scroll 0% 0% #00420C;
}
.nav{
	padding:0;
	
}
.nav ul {
	margin:2px 0px 2px 0px;
}
.nav li {
	display:inline;
	border-right: 1px solid #6C9072;
	padding: 0px 10px;
}
.nav a {
	font-weight: bold;
	color:#fff;
} 
.navbar{
	float: left;
	min-height: inherit;
	padding: 0px;
	border: 0px;
}
.navbar li {
	border-right: 0px;	
}
.termos {	
	white-space: pre-line;
	text-align: justify;
	text-justify: inter-word;
	background-color: #ffffff;
	position:relative;
	
	
}
.footer {
	background: none repeat scroll 0% 0% #034811;
	color: #FFF;
	position:absolute;
    bottom:0;
    width:100%;
    padding-top:20px; 
	height:190px;
	width: 100%;
}
.extra-footer{
	background-color: #FFF;
	color: #000;
	position: absolute;
	width: 100%;
	bottom: 0px;
}

.col-md-4 {
	font-size: 75% !important;
	width: 33.33%;
	float: left;
	padding-left: 0px;
}
.footer dl{
	border-left: 1px dotted #7DC48A;
	margin: 0px 0px 20px;
}
.footer dt{
	color: #7DC48A;
	padding-left: 0.6em;
	font-size: 2em;
	font-family: "open_sansbold",Arial,Helvetica,sans-serif;
}
.footer dd{
	padding-left: 1.2em;
	
}
.footer a{
	font-size: 1.4em !important;
	color:#fff;
}
.container{
	/*max-width:960px; alterado ST Mathias - 21/02/19*/
	max-width:1080px;
}
.tablecontainer{
	padding:0;
	margin:0;
}
#Conteudo{
	padding-top:15px;
 	padding-bottom:230px; 
}

.table-modifica{
	margin-top:15px;
	width:100% !important;
	position: relative;
	
}
.table-modifica th{
	text-align: center;	
}
.popover{
	width:600px;
	max-width:800px;
	white-space: pre-wrap;
	text-align: justify;
	text-justify: inter-word;
}
.form-control  {
	padding: 6px 0px;
}
.dropdown-menu li{
	border: 0px !important;
	text-align: left;
}
.videodiv{
	text-align: center;
	padding-bottom: 15px;
}
.modal-body input {
	max-width: 350px;
 	margin: 0 auto;
}
.alert{
	max-width: 350px;
 	margin: 5px auto;
}

@media print{
    @page {
      margin: 0;
    }
    body {
        height: 100%;
        width: 100%;
    }
    div.row > div {
      display: inline-block;  
      border: solid 1px #ccc;
      margin: 0.1cm;
      font-size: 1rem;
    }
    div.row {
      display: block;
      margin: solid 2px black;
      margin: 0.2cm 1cm;
      font-size: 0;
      white-space: nowrap;
    }
    .table {

        display: block;
    }
	
	.header  , .footer{
		display: none;
	}
}

@media (max-width: 398px){
	.imagem {
		display: none;
	}
}

